.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-1{
    background-color: blue;
}

.item-2{
    background-color: rgb(0, 255, 85);
}

.item-3{
    background-color: rgb(255, 0, 200);
}

.item-4{
    background-color: rgb(75, 191, 236);
}

.item-5{
    background-color: rgb(224, 66, 93);
}

.item-6{
    background-color: rgb(207, 124, 16);
}

.item-7{
    background-color: rgb(51, 71, 44);
}